body {
   background-color: #ffffff;
  font-family: "Roboto", sans-serif; 
  color: #434455;
}

:root {
  var(--iris, #4d5ae5);
  var (--navyblue, #2e2f42);

 
}
address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.header-page-link {
  font-family: "Raleway", sans-serif;
}
.list-item-list {
  width: calc((100% - 72px) / 4);
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
}



.container {
  
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
  


  
}

.container-wrap {
  background: var(--navyblue, #2E2F42);
height: 600px;
}

.header-wrap {
display: flex;
align-items: center;
}


.header-page {
  padding-top: 24px;
  padding-bottom: 24px;
  
  }
.header-page {
  border-bottom: 1px solid #e7e9fc;
}


.hero-page {
  padding-bottom: 120px;
  
}

.header-page-navigation {
  display: flex;
  align-items: center;
  
}

.header-page-link {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
 letter-spacing: 0.03em;
  text-transform: uppercase;
 margin-right: 76px;
}

.span {
  color: var(--navyblue, #2e2f42);
}

.header-menu-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
font-size: 16px;
font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  
   padding: 24px 0;
  
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.address-menu-link {
  color: var(--slate, #434455);
  /* Body */

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  gap: 40px;
}

.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

.address-menu-list {
  display: flex;
  gap: 40px;
}

.hero-page
 {
  background: var(--navyblue, #2E2F42);
  padding: 188px 0;
}
.hero-page-list {
  background-color: var(--navyblue, #2e2f42);
  color: var(--white, #fff);
 
 
}

.hero-page-list {
  background-color: var(--navyblue, #2e2f42);
  color: var(--white, #fff);
  text-align: center;
  max-width: 496px;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-page-btn {
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  display: block;
  min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px; 
  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  padding: 16px 32px;
   cursor: pointer;
   font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  
 } 

.hero-page-btn:hover,
.hero-page-btn:focus {
  background-color: #404BBF;
  
}

.section {
  padding: 120px 0;
}

.list-item {
  display: flex;
  gap: 24px;
}

.list-item li:first-child {
    width: calc((100% - 72px) / 4);
}



.list-item-list {
  background: #FFF;
}

.list-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */

  font-size: 20px;
  margin-bottom: 8px;

  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
}

.list-title-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}





.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  
  margin-bottom: 72px;
  /* Header 2 */
 background-color: #F4F4FD;
  font-size: 36px;
font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
  .team {
    background-color: #F4F4FD;
    padding: 120px 0;
  }


  .team-item {
    display: flex;
    gap: 24px;
  }
  .team-grup {
    padding: 32px 0; 

  }

.team-item-list {
  background: #FFFFFF;
  
}

.team-item li {
  border-radius: 0px 0px 4px 4px; 
}

.team-team {
  padding: 32px 0; 
}

.team-list {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin-bottom: 8px;

  /* Header 3 */

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
}



.team-text {
  color: var(--slate, #434455);
  text-align: center;
   
  /* Body */
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
.img {
  padding-top: 120px; padding-bottom: 120px;
}

.img-title {
  margin-bottom: 72px;
  text-align: center;
}
.img-item {
  display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
}
.img-list{
  width: calc((100% - 48px) / 3);
 } 

 .img-desc {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
 }

 .img-caption
 {
  margin-bottom: 8px;
  color: var(--navyblue, #2E2F42);
  font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
 }

 .img-text {
  color: var(--slate, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
 }

.footer {
 background: var(--navyblue, #2e2f42);
  padding: 100px 0;
  
}

.container-footer {
   background: var(--navyblue, #2e2f42);
   height: 312px;
  
   
}
.footer-page-link {
 display: inline-block;
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  
   
margin-bottom: 16px;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}

.footer-page {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;

  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-page-text {
  color: var(--cloud, #f4f4fd);
  /* Body */

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}


                  <!----PORTFOLIO ----->          

.heder {
  padding-top: 24px;
  padding-bottom: 24px;
}






